#game{
    display: inline-flex;
    width: 100%;
    height: 350px;
    justify-content: space-between;
}


#gamedata{
    width: 15%;
    display: flex;
    flex-direction: column;

}

#actualgame{
    width: 50%;
    display: flex;
    flex-direction: column;

}

#gamesettings{
    width: 15%;
    display: flex;
    flex-direction: column;

}







