li{
    display:inline;
    margin-left:35px;
    letter-spacing: 3px;

}

#nav{
    text-align: center;
    margin: auto;
    width: 80%;
    background-color: brown;
    margin-bottom: 0px;
    padding: 10px;

}

a{
    text-decoration: none;
}