#content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  
  #login{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #loginform{
    display: flex;
    flex-direction: column;
  }
  
  .loginFieldDiv{
    display: inline-flex;
    justify-content: space-between;
    margin: 17px;
    
  
  }
  
  .loginlabel{
    margin-right: 20px;
  }

  .btnwrap{
    justify-content: space-around;


  }