#content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  #settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #settingsform{
    display: flex;
    flex-direction: column;
  }
  
  .settingslabelinputdiv{
    display: inline-flex;
    justify-content: space-between;
    margin: 17px;
    display: inline-flex;

    
  
  }
  
  .settingslabel{
    margin-right: 20px;
  }

  .button25option{
      height: 40px;
  }



  .flags input {
    height: 40px;
    display: none;
}