#welcome{
    width: 80%;
    background-color: bisque;
    margin: auto;
    height: 300px;
}

#welcomeWrapper img{
    height: 200px;
    margin: 30px;
    transition: width 2s, height 4s;
}

#welcomeWrapper img:hover{
    height: 400px;
    transition: width 2s, height 4s;
}

td{
    width: 30%;
    height: 200px;
    text-align: center;
}

.welcomebtns{
    width:30%;
    float:right;
    border:1px solid;
    border:solid 1px;
    border-color:brown;
    background-color:brown;
    text-decoration:none;
    height: 60px;
    margin: 30px;
    display:flexbox;
    font-size: 40px;
}

#welcomeRegisterWrappper{
    margin-top: 20px;
    width: 30%;
    float: left;
    font-size: xx-large;


}

#welcomeRegisterText{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
}

#registerImg{
    height: 200px;
    

}

#registerImg:hover{
    height: 250px;
    transition: width 2s, height 4s;
}

#welcomeRegisterText:hover{
    color: wheat;
    text-align: center;
   
}

#welcomeLoginWrapper{
    margin-top: 20px;
    width: 30%;
    float: right;
    font-size: xx-large;


}

#welcomeLoginText{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
}

#loginImg{
    height: 200px;

    

}

#loginImg:hover{
    height: 250px;
    transition: width 2s, height 4s;
}


#welcomewrapwrap{
    background-color: rgb(70, 70, 70);
    height: 380px;
    padding: 0px;
}