#welcome{
    margin: auto;
    width: 80%;
    text-align: center;
    display: block;
}

#welcomeImagesWrapper{
    display: flex;
    justify-content: space-around;
}   

.welcomeImages{
    transition: width 2s, height 4s;
    border-radius: 50%;



}

.welcomeImages:hover{
    transition: width 2s, height 4s;
    height: 150px;
    border: 1px solid;

}

#welcomeTextWrapper{

}

.welcomeText{
    display: inline;
    justify-content: space-around;
}

p{
    justify-content: space-around;
}